body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0;
}

.main-container {
  margin: 0;
  padding: 0;
  max-width: 1000px;
  min-height: 1000px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.square {
  flex-grow: 1;
}

.colored {
  background-color: aqua;
}

.row-container{
  display: flex;
}

button {
  width: 10%
}